<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Comic was created, <%= @user.name %>!</h1>
    <p>
      Your comic was successfully added to our site!
    </p>
    <p>Thanks for uploading and have a SUPER day!</p>
  </body>
</html>
