<h1>COMIC BOOKS</h1>

<ul>
  <% @comic_books.each do |comic| %>
    <li class="comic_book"><%= comic.title %></li>
  <% end %>
</ul>

<%= link_to "Add comic", new_comic_book_path %>
<%= paginate @comic_books %>
