<h1 class='comic-header'>COMIC BOOKS </h1>
<div class='cover-view'>
    <% @comic_books.each do |comic| %>
      <ul class='comic-index-list'>
        <li class='comic-book-title'><%= link_to comic.title, comic_book_path(comic) %></li>
        <li><%= link_to image_tag(comic.cover), comic_book_path(comic), class:'comic-cover-art' %></li>
      </ul>
    <% end %>
</div>
<div class='bottom-options'>
  <ul class='bottom-options'>
    <li><%= link_to "Add comic", new_comic_book_path, class:'button add-comic' %></li>
    <li><%= paginate @comic_books %></li>
  </ul>
</div>
