@import url(http://fonts.googleapis.com/css?family=Bangers);

@import 'bootstrap';
* {
  font-family: 'Bangers', cursive;
  }
body {
  background: #2B3B44;
}
.main-container {
  max-width: 90%;
  background: #009DFF;
  margin: 0 auto;
  padding: 10px;
  height: 800px;
  max-height: 90%;
}


.seperator1 {
  border-bottom: 3px solid #30719B;
}
.seperator2 {
  border-bottom: 3px solid #1C88CC;
}
/*NAVIGATION BAR*/

header {
  margin: 0 auto;
}
.nav-bar {
  display: inline-block;
  background-color: #2B3B44;
  margin-bottom: 10px;
}

.nav-bar li {
  font-size: 1.3em;
  display: inline-block;
  padding-right: 50px;
  list-style: none;
  text-shadow: -1px -1px yellow, 1px 1px orange,  2px 2px orange;
}

.nav-bar li:last-child {
  padding-left: 200px;
}

.nav-bar li:first-child {
  padding-left: 20px;
}

.nav-bar li a {
  text-decoration: none;
}

.nav-bar li a:hover {
  font-size: 1.1em;
}
.search-btn {
  border-radius: 5px;
}

.search-box {
  border-radius: 5px;
}
/* COMIC BOOK INDEX PAGE */
.comic-index-list {
  display: inline-block;
  list-style: none;
  max-width: 80%;
}

.cover-view img {
  max-width: 100px;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
}
/*.comic-cover-art {
  max-width: 50px;
}*/

.comic-book-title {
  text-align: center;
  font-size: 1em;
}
.comic-header {
  font-size: 2.5em;
  text-align:center;
  font-family: "Bangers";
  margin: 0 0 -1em 0;
  text-shadow: -1px -1px yellow, 1px 1px orange,  2px 2px orange;
  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(-10deg) skew(-10deg, 0);
  padding-bottom: 50px;
  width: 100%;
}

.comic-book-title a{
  text-decoration: none;
}


.bottom-options {
  list-style:none;
  padding: 10px;
}

.add-btn {
  margin-top: 20px;
  text-decoration: none;
  border: 2px solid black;
  padding: 20px;
}

/*COMIC BOOK SHOW PAGE*/

.show-cover {
  float: left;
}

.comic-info {
  height: 400px;
  width: 500px;
  float: left;
}

.comic-info li {
  text-align: center;
  list-style: none;
}

.show-cover ul li {
  display: inline-block;
  text-decoration: none;
}
.show-cover ul li a {
text-decoration: none;
}

.show-cover {
  text-align: center;
}



.button {
   border-top: 1px solid #96d1f8;
   background: #059bff;
   background: -webkit-gradient(linear, left top, left bottom, from(#65747d), to(#059bff));
   background: -webkit-linear-gradient(top, #65747d, #059bff);
   background: -moz-linear-gradient(top, #65747d, #059bff);
   background: -ms-linear-gradient(top, #65747d, #059bff);
   background: -o-linear-gradient(top, #65747d, #059bff);
   padding: 10.5px 21px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #0397fa;
   background: #0397fa;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.bottom-options {
  padding-top: 20px;
  margin-top: 20px;
}
