/*Color Pallette @ http://www.colourlovers.com/palette/1808513/Ignoramus*/



html, body {
  width: 100%;
  height: 100%;
/*  background-image: url('comic-paper-bg.jpg');*/
}

nav {
  background-color: yellow;
  border: 5px solid #bb0000;
}

nav ul {
  display: flex;
  width: 100%;
  padding: 10%;
  list-style: none;
}

nav ul li {
  padding: 10px;

}

.brand {
  order: -1;
  flex: 2;
}

a {
  text-decoration: none;
}

#search {
  border-radius: 5px;
  background: #FF4F5B;
  color: white;
}

.placeholder {
  font-color: blue;
}
