<footer>
  <nav>
  <ul>
    <li>Comic Book App : Simple name - Amazing Resluts</li>
  </ul>
  <ul>
    <li><a href='https://github.com/bobpetrowsky'>Bob Petrowsky</a></li>
    <li><a href='https://github.com/rjrobinson'>R.J. Robinson</a></li>
    <li><a href='https://github.com/radavis'>Richard Davis</a></li>
    <li><a href='https://github.com/sathyan1983'>Sathyan Mathai</a></li>
    <li><%= link_to "Launch Academy", 'http://www.launchacademy.com' %></li>
    </ul>
  </nav>
</footer>
